  body {
    
      background-color: rgb(255, 255, 255);
      color: rgb(253, 253, 253);

  }

  form {
      max-width: 250px;
      margin: 0 auto;
      padding: 20px;
      background-color: blue;
      border-radius: 12px;
      box-shadow: 0 8px rgba(0, 0, 0, 1);
      font-family: 'Times New Roman', Times, serif;

  }

  h1 {
      text-align: center;
      color: rgb(245, 244, 244);
  }
  p{
    text-align: center;
  }

  label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
      text-align: center;

  }

  input {
      width: 100%;
      padding: 10px;
      margin-bottom: 18px;
      border: 1px solid #ccc;
      border-radius: 12px;
      box-sizing: border-box;
  }

  button {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      background: #03fa45;
      color: white;
      font-size: 16px;
      cursor: pointer;
  }

  button:hover {
      background: #f80000;
  }
  footer{
      background-color: blue;
      color: white;
  }